@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-Regular.woff2') format('woff2'),
    url('../assets/fonts/Oswald-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-Regular.woff2') format('woff2'),
    url('../assets/fonts/Oswald-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-Regular.woff2') format('woff2'),
    url('../assets/fonts/Oswald-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1920px;
  height: auto;
}

html {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.header {
  background-image: url('/assets/img/background.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --blueshadow-color: rgba(0, 91, 193, 0.6);
}

.header__container {
  display: flex;
  background-color: var(--blueshadow-color);
  width: 100%;

}

.logo {
  padding: 11px 0px;
  margin-left: 40px;
}

.row {
  display: flex;
  align-items: center;
  margin-left: 555px;

}

.menu {
  display: flex;

}

.menu-item {
  list-style: none;
}

.menu-item:not(last-child) {
  margin-right: 26px;
}

.menu-item:hover {
  color: hotpink;
  transition: 0.5s;
}

.menu-link {
  color: white;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.first-screen__content {
  position: relative;

  width: 635px;
  height: 317px;
  display: flex;
  flex-direction: column;

}

.title {
  position: absolute;
  left: 595px;
  top: 282px;

}

.title__text {
  color: #fff;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.01em;

}

.subtitle {
  position: absolute;
  margin-bottom: 40px;
  width: 445px;
  height: 44px;
  left: 595px;
  top: 464px;
}

.subtitle__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.title__text span {
  white-space: nowrap;
}

.first-screen__btn {
  position: absolute;
  left: 595px;
  top: 548px;
  box-sizing: border-box;
  width: 160px;
  height: 51px;
  padding: 15px 40px;
  border: 2px solid #FFFFFF;


  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;

}

.first-screen__btn:hover {
  transition: 0.5s;
  border: 2px solid hotpink;
  color: hotpink;

}

.main__container {
  padding: 0px 405px;

}

.main__section {
  margin: 150px 0px;
  display: flex;

  width: 1110px;
  height: 520px;
  position: relative;
}

.section-line {
  position: absolute;
  top: 11px;
  left: 0;
}

.section-title {
  width: 315px;
  height: 44px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
  position: absolute;
  top: -33px;
  left: 140px;
  white-space: nowrap;

}

.section-btn {
  margin-left: 1002px;
  display: flex;
  height: 55px;
}

.btn-left {
  width: 55px;

}


.btn-right {
  width: 55px;

}

.section-img {
  position: absolute;
  top: 114px;
  left: 0;
  display: flex;
}

.section-img1 {

  width: 540px;
  height: 400px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(.jpg), #C4C4C4;
  margin-right: 30px;

}

.section-img2 {

  width: 540px;
  height: 400px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(.jpg), #C4C4C4;


}

.img {
  display: flex;
  margin-top: 205px;
  position: absolute;
}

.img1 {
  width: 350px;
  height: 300px;
  margin-right: 30px;
}

.img2 {
  width: 350px;
  height: 300px;
  margin-right: 30px;
}

.img3 {
  width: 350px;
  height: 300px;

}

.mini-content {
  position: relative;
}

.mini-section {
  position: absolute;
  width: 250px;
  height: 110px;
  top: 255px;
  left: 255px;
  background-color: #fff;
}

.mini-section__title {
  position: absolute;
  top: 0;
  left: 25px;
  width: 107px;
  height: 22px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
  white-space: nowrap;

}

.mini-section__text {
  width: 200px;
  height: 34px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
  position: absolute;
  top: 36px;
  left: 25px;

}

.section2-btn {
  position: relative;
  top: 114px;
  left: 430px;
  display: inline-block;
}

.btn-1 {
  margin-right: 40px;


}

.line1 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
}

.line2 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;

}

.btn-2:hover {
  transition: 0.5s;
  width: 52px;
  height: 36px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #005BC1;

}

.btn-1,
.btn-2 {
  position: relative;
  width: 111px;
  height: 36px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
}

.btn-1:hover {
  transition: 0.5s;
  width: 52px;
  height: 36px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #005BC1;

}

.mini-content2 {
  position: relative;

}

.mini-section2 {
  position: absolute;
  top: 199px;
  left: 85px;
  background-color: #005BC1;
  width: 265px;
  height: 86px;
}

.mini-section2__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mini-section2__title span {
  white-space: nowrap;
}

.title1 {
  margin: 15px 36px 15px 21px;
}

.title2,
.title3 {
  margin: 30px 21px;
}

.section3-text {
  margin-top: 150px;
  width: 350px;
  height: 175px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #343434;
}

.article {
  position: relative;
  display: flex;

  box-sizing: border-box;
  width: 665px;
  height: 394px;
  border: 3px solid #005BC1;
  top: 84px;
  left: 95px;

}


.article-title {
  position: absolute;
  top: 42px;
  left: 30px;
  width: 441px;
  height: 27px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
  white-space: nowrap;
}

.section3-btn {
  margin-left: 537px;
  height: 55px;
  display: flex;
  margin-top: 30px;
}

.btn3-left,
.btn3-right {
  width: 55px;
}

.model-name {
  position: absolute;
  top: 114px;
  left: 315px;
  width: 172px;
  height: 24px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
  white-space: nowrap;
}

.model-items {
  position: absolute;
  top: 168px;
  left: 285px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  width: 310px;
  height: 152px;

  color: #343434;

}

.model-item {
  white-space: nowrap;
}

.model-item:not(last-child) {
  margin-bottom: 15px;
}

.article-img {
  position: absolute;
  top: 114px;
  left: 30px;
}

.img3-mini {
  width: 255px;
  height: 250px;
}

.btn-news {
  position: relative;
  top: 0;
  left: 920px;
}

.button__news {
  padding: 15px 34px;
  width: 190px;
  height: 51px;
  background: #005BC1;
  border: #005BC1;
}

.link-news {
  white-space: nowrap;
  width: 122px;
  height: 22px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}



.big-article {
  font-family: 'Open Sans', 'Oswald';
  position: absolute;
  top: 140px;
  left: 0;
  display: flex;
  width: 540px;
  height: 242px;
}

.article-text {
  position: absolute;
  top: 0;
  left: 285px;

}

.big-article__img {
  position: absolute;
  top: 0;
  left: 0;

  width: 255px;
  height: 242px;
}

.article-data1 {
  position: absolute;
  top: 10px;
  left: 183px;
}

.article-row {
  position: relative;
  top: -18px;
  left: 0;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.article-data,
.article-data1,
.article-data-1,
.article-data-2 {
  width: 72px;
  height: 19px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: right;

  color: #979797;

}

.big-article__title {
  position: absolute;
  top: 0;
  left: 0;


  width: 123px;
  height: 27px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;

  color: #343434;

}

.big-article__subtitle {
  position: absolute;
  top: 49px;
  left: 0;
  width: 255px;
  height: 133px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #343434;

}


.big-article__reading {
  position: absolute;
  top: 225px;
  left: 0px;

  width: 139px;
  height: 19px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  text-decoration-line: underline;

  color: #343434;
}

.mini-article {
  position: relative;
  top: 121px;
  left: 430px;
  display: flex;
  align-items: center;
  width: 510px;
  height: 242px;
  font-family: 'Oswald', 'Open Sans';

}

.mini-article1 {
  position: relative;
  margin-right: 30px;
  width: 225px;
  height: 242px;

}

.mini-article2 {
  position: relative;
  width: 225px;
  height: 242px;
}

.mini-title {
  position: absolute;
  top: 0;
  left: 0;

  width: 225px;
  height: 49px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #343434;

}

.mini-subtitle {
  position: absolute;
  top: 80px;
  left: 0;

  width: 225px;
  height: 38px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

  color: #343434;

}

.mini-subtitle span {
  white-space: nowrap;
}

.mini-img {
  position: absolute;
  top: 140px;
  left: 0;
  width: 128px;
  height: 115px;
}

.article-data-1,
.article-data-2 {
  position: absolute;
  top: 227px;
  left: 150px;
}

.news-content {
  display: flex;
  justify-content: space-between;
}

/* footer */

.footer {
  background-color: #005BC1;
  width: 1920px;
  height: 255px;
  position: relative;
}

.footer__container {
  position: relative;
  padding: 40px 405px 25px 405px;
}

.high-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.high-row__item {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #FFFFFF;

}

.tel {
  width: 122px;
  height: 27px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;

}

.adress {
  width: 610px;
  height: 19px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
}

.e-mail {
  width: 127px;
  height: 19px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: right;
}

.middle-row {
  position: relative;
  display: flex;
  margin-right: 964px;
}

.row__line-1 {
  margin-top: 25px;
  width: 1110px;
}

.row__line-2 {
  margin-top: 105px;
  width: 1110px;
}

.middle-row__link {
  margin-right: 100px;
  color: #FFFFFF;
  white-space: nowrap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.middle-row-1 {
  display: flex;
  position: absolute;
  top: 25px;
  left: 0;
  justify-content: space-between;
}

.middle-row-2 {
  display: flex;
  position: absolute;
  top: 55px;
  left: 0;
}



.low-row {
  position: relative;
  display: flex;
  flex-direction: row;
}

.info1 {
  position: absolute;
  width: 315px;
  height: 19px;
  left: 0;
  top: 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  white-space: nowrap;
  color: #FFFFFF;
}

.info2 {
  position: absolute;
  top: 0;
  left: 910px;
  white-space: nowrap;

  width: 201px;
  height: 19px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

  text-align: right;
  color: #FFFFFF;
}
